
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title
	
	
	{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
<link href="{% static 'grid.css'%}" rel="stylesheet">  </head>

  <body>
    <div class="container">

      <h1>Overzicht status lokalenzzzzz</h1>
      <p class="lead">Eenvoudig overzicht van de beschikbare lokalen.</p>

      <h3>De lokalen</h3>
      <p>De lokalen van op de UCLL campus te Haasrode</p>

      <div class="row">
        <div class="col-4">Lokaal D000</div>
        <div class="col-4">Gereserveerd</div>
        <div class="col-4" style="background-color:red"></div>
      </div> 

      <div class="row">
        <div class="col-4">Lokaal D001</div>
        <div class="col-4">Gereserveerd</div>
        <div class="col-4" style="background-color:red"></div>
      </div> 

      <div class="row">
        <div class="col-4">Lokaal D002</div>
        <div class="col-4">Beschikbaar</div>
        <div class="col-4" style="background-color:green"></div>
      </div> 
      
    </div> <!-- /container -->
  </body>
</html>
